<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eg.com.perfect_contracting.perfect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SigninActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/perfect"
            android:theme="@style/FullscreenTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.AdsActivity"
            android:label="@string/title_activity_ads"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.AdDescriptionActivity"
            android:label="@string/title_activity_ad_description"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ui.activities.RealEstate"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.Contracting"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.Maintenance"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.activities.MainActivity"/>
        <activity android:name=".ui.activities.EventActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.activities.MainActivity"/>
    </application>

</manifest>